@{
    ViewBag.Title = "Home Page";  
}
@model IEnumerable<TicketRewardSystem.Models.Ticket>
<div class="hero-unit">
    <h1>Ticket reward system</h1>
    <p class="lead">Another change</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    @foreach (var ticket in Model)
    {
        <ul>
            <li>@ticket.Title</li>
            <li>@ticket.Description</li>
        </ul>
    }
</div>